<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mARTE_TIME -->
      <package
            uri="http://www.example.org/mARTE_TIME"
            class="mARTE_TIME.MARTE_TIMEPackage"
            genModel="model/mARTE_TIME.genmodel"/>
   </extension>

</plugin>
